In [2]:
import pandas as pd

In [3]:
# Load the restaurant ethnicities into a DataFrame
citi_2022 = pd.read_csv("raw_data/2022_05.csv")
citi_2023 = pd.read_csv("raw_data/2023_05.csv")

/var/folders/26/chsh3pkx14dg5ywx894b8gwm0000gn/T/ipykernel_41868/316371094.py:2: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_2022 = pd.read_csv("raw_data/2022_05.csv")
/var/folders/26/chsh3pkx14dg5ywx894b8gwm0000gn/T/ipykernel_41868/316371094.py:3: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  citi_2023 = pd.read_csv("raw_data/2023_05.csv")

In [4]:
citi_2023['end_station_id'].isna().sum()

8495

In [5]:
citi_2023.nunique()

ride_id               3580766
rideable_type               3
started_at            1627856
ended_at              1632477
start_station_name       1826
start_station_id         3645
end_station_name         1867
end_station_id           2782
start_lat              636391
start_lng              551906
end_lat                  2584
end_lng                  2568
member_casual               2
dtype: int64

In [6]:
citi_2023 = citi_2023.dropna()

In [7]:
citi_2023.nunique()

ride_id               3572271
rideable_type               3
started_at            1626181
ended_at              1630216
start_station_name       1826
start_station_id         3645
end_station_name         1867
end_station_id           2782
start_lat              634264
start_lng              550313
end_lat                  2558
end_lng                  2550
member_casual               2
dtype: int64

In [8]:
citi_2022.nunique()

ride_id               2940600
rideable_type               3
started_at            1465633
ended_at              1469261
start_station_name       1554
start_station_id         3086
end_station_name         1592
end_station_id           2303
start_lat              133470
start_lng              129428
end_lat                  2309
end_lng                  2295
member_casual               2
dtype: int64

In [9]:
citi_2022 = citi_2022.dropna()

In [10]:
citi_2022.nunique()

ride_id               2936577
rideable_type               3
started_at            1464550
ended_at              1467902
start_station_name       1554
start_station_id         3086
end_station_name         1592
end_station_id           2303
start_lat              132902
start_lng              128911
end_lat                  2282
end_lng                  2271
member_casual               2
dtype: int64

In [11]:
# citi_2022.to_csv('raw_data/2022_05_clean.csv', index=False)
# citi_2023.to_csv('raw_data/2023_05_clean.csv', index=False)

In [12]:
frames = [citi_2022, citi_2023]
two_year_df = pd.concat(frames)

In [38]:
two_year_df.to_csv('raw_data/both_years_clean.csv', index=False)